table {
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  thead{
    color: white;
    background-color: mediumpurple;
    th{
      padding: 1.1em;
    }
  }
}

a{
  color: black;
}

td{
  padding: 1.2em;
  border-bottom: solid #222222 5px;
}

