
*{
    box-sizing: border-box;
}


.container{
    background-color: white;
    box-shadow: 5px 5px #e8e8e8;
    padding: 3em;
}

body{
    margin-left: 10em;
    margin-right: 10em;
    font-family: Bahnschrift;
    background-color: #f2f2f2;
}


table{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead{
    background-color: dodgerblue;
    font-size: 120%;
    color: white;
}

tbody{
    background-color: white;
}

input[type=button]{
    color: black;
    padding: 10px 32px;
    font-size: 16px;
    width: 100%;
    background-color: white;
    border: none;
    font-family: Bahnschrift;
}

input[type=button]:hover{
    color: red;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

.editButton:hover{
    background-color: orange;
}


.addButton:hover{
    background-color: limegreen;
    color:white;
}




