
.container{
    background-color: lightcyan;
    padding: 5em;
}

body{
    margin-left: 10em;
    margin-right: 10em;
    font-family: Bahnschrift;
    background-color: steelblue;
}


table{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

thead{
    background-color: dodgerblue;
    font-size: 120%;
    color: white;
}

tbody{
    background-color: white;
}

input[type=button]{
    color: black;
    padding: 10px 32px;
    font-size: 16px;
    width: 100%;
    background-color: white;
    border: none;
    font-family: Bahnschrift;
}

input[type=button]:hover{
    background-color: red;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}

.editButton:hover{
    background-color: orange;
    color: white;
}

.deleteButton:hover{
    background-color: red;
}

.addButton:hover{
    background-color: limegreen;
    color:white;
}



