* {
    box-sizing: border-box;
}

header {
    background-color: #222;
    padding: 3em;
    width: auto;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    top: 0;
    position: sticky;
    z-index: 4;
}
img{
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    float: right;
    overflow: hidden;
    background-color: #222;
    display:inline-block;
    font-family: Arial;
    font-size: 24px;
}

@media screen and (max-width:1049px){
    ul{
        display: none;
    }
}

li {
    float: right;
}

 a {
    color: white;
    padding: 25px;
    text-decoration: none;
    transition-duration: 0.4s
}

#menu {
    background-color: mediumpurple;
    color: black;
    display: none;
    position: fixed;
    top: -24px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    opacity: 0.9;
    overflow: auto;
}

.menu_button{
    float: right;
}

.menu_content{
    text-align: center;
    font-size: xx-large;
    font-family: Calibri;
    display: flex;
    flex-direction: column;

}
.menu_content a{
    float: none;
    color: black;
    text-decoration: none;
    padding: 5px;
    background-color: mediumpurple;
}

.menu_content a:hover{
    color: white;
}

@media screen and (min-width:1050px){
    #menu{
        display: none;
    }
    #menu_button{
        display: none;
    }
}


li a:hover{
    color: mediumpurple;
}

/*
@media screen and (max-width:515px){
    .Star_image{
        display:none;
    }
}
*/

.banner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position:relative;
    padding-bottom: 52.5%;
}

.slide{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.banner_arrows{
    text-align: center;

}

.visible{
    opacity: 1;
    z-index: 2;
}
h1{
    text-align: center;
    font-family: Arial;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-container > div{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.product-info{
    display: flex;
    flex-direction: column;
}

input[type=text]{
    width: 10%;
    margin: auto;
}

form{
    display: grid;
}

p{
    text-align: center;
    font-family: Arial;
}

button{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 12px;
}

button:hover{
    background-color: mediumpurple;
    color: white;
}

footer{
    padding: 30px;
    color: gainsboro;
    background-color: #222;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}

.print{
    display: none;
}

.about-text{
    text-align: center;
    font-size: 1.75em;
}

@media print{
    header, .banner_arrows, form, footer{
        display: none;
    }

    body{
        background-color: white;
        color: black;
        font-size: 12pt;
    }

    .about-text{
       font-size: 1.75em;
    }

    .flex-container{
        break-after: auto;
        break-inside: avoid;
    }

    img{
        filter: grayscale(100%);
    }

    .print{
        display: block;
        text-align: center;
    }

    .Star_image{
        filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
        padding: 1em;
    }
}